
* {
  padding: 0;
  margin: 0;
}

.clear-fix {
  clear: both;
  margin-top: 5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
}


h1 {
  font-weight: 600;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  }

a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 3% 5% 12% 5%;
}

li {
  list-style-type: none;
}

header {
  max-width: 100%;
  height: auto;
  background-image: url(bg/weatherapp-header.png);
  background-size: cover;
  color: #fff;
}

.brand {
  color: #eb7d4b;
}

.left {
  float: left;
}

.right {
  float: right;
}

.error {
  margin: 0 auto;
  background: #eb7d4b;
  z-index: 1000;
  padding: 1% 6%;
}

.content {
  width: 68%;
  position: relative;
}

.hero {
   width: 30%;
   position: relative;
 }

 .phone {
   max-width: 80%;
   left: 1em;
   position: relative;
 }

 .location {
   max-width: 50%;
   height: 26px;
   border: none;
   outline: none;
   padding: 1px 4px;
   font-weight: 600;
   font-size: 18px;
 }
 .btn-primary {
   font-weight: 600;
   border: none;
   height: 28px;
   background: #eb7d4b;
   outline: none;
   padding: 3px;
   border-radius: 0 8px 8px 0;
 }

 /**
 * media queries for desktop
 * */

@media (min-width:933px){
  .nav li{
    display: inline-block;
    margin-left: 1em;
  }
  .wrapper {
    padding: 0 20% 0 20%;
  }
}
